.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 40px 20px;
  width: 35%;
  min-width: 320px;
}

.wrapper__modal .modal__field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.wrapper__modal .modal__field-name {
  font-style: italic;
  font-size: 15px;
  color: gray;
}

.wrapper__modal .modal__field-input {
  outline: none;
  width: 100%;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 7px;
  font-size: 18px;
}

.wrapper__modal .modal__button {
  padding: 10px 20px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 7px 0 black;
          box-shadow: 0 0 7px 0 black;
}

.wrapper__modal .modal__button:hover {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
/*# sourceMappingURL=styles.css.map */